<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head') %>
</head>

<body>
  <%- include('layouts/header') %>

  <%- include('layouts/navbar') %>

  <%- include('layouts/slider') %>

  

  <%- include('layouts/cart') %>
  
  <%- include('layouts/footer') %>

  <%- include('layouts/script') %>
</body>

</html>